* {
  box-sizing: border-box;
}

body {
  background: #6DDDD6;
  color: #5C13F5;
  font-family: 'Roboto';
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin: 5px 0 5px;
  color: #5C13F5;
  font-size: 15px;
  font-weight: 700;
}

input {
  padding: 8px 16px;
  margin: 5px 0;
  background: transparent;
  border: 2px #5C13F5 solid;
  color: #5C13F5ee;
  font-size: 15px;
  font-weight: 700;
}

input::placeholder {
  color: #5C13F588;
}

p {
  letter-spacing: 3px;
  background: #5C13F5;
  color: #6DDDD6;
  width: 500px;
  padding: 5px;
  border-radius: 3px;
}

.App {
  margin: 5px auto;
  padding: 15px 0 25px;
  width: 500px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  width: 150px;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.btnConvert {
  border-radius: 50px;
  background: #5C13F5;
  border: none;
  color: #8ef5ee;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 13px 45px 12px;
  cursor: pointer;
  margin: 15px 0;
}

.btnConvert:hover {
  background: #6DDDD6;
  color: #5C13F5;
}